.body{
    background-color: whitesmoke;
    margin:6em 0 6em 0 ;
    display: flex;
    flex-direction: row;
}

.title{
    margin-bottom: 1em;
    text-align: center;
}

.adress{
    display: flex;
    justify-content: space-between;
}

.captcha{
    margin: 0 auto;
}

@media (max-width: 600px) {
    .adress {
      flex-direction: column;
    }
}