.body{
    background-color: whitesmoke ;
}

.fundo{
    width: 50%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logoGoogle{
    margin-right: 0.5em;
}

.fundo h1 {
    margin-bottom: 1rem;
}

.link{
    color:#0941cf;
    text-decoration: none;
}

.link:hover {
    color: #010f33;
}

@media (max-width: 600px) {
    .fundo {
      margin-bottom: 1em ;
    }
}
